version: "1"

default:
  password-file: /etc/resticprofile/password
  force-inactive-lock: true
  backup:
    run-before:
{% for hook in backup_pre_hooks %}
      - "{{ hook }}"
{% endfor %}
    run-after:
{% for hook in backup_success_hooks %}
      - "{{ hook }}"
{% endfor %}
    run-after-fail:
{% for hook in backup_failure_hooks %}
      - "{{ hook }}"
{% endfor %}
    source:
      - /mnt/data
    exclude:
{% for app in apps | default([]) %}
{% for path in app.backup_exclude | default([]) %}
      - "{{ path }}"
{% endfor %}
{% endfor %}
    exclude-caches: true
  forget:
    keep-daily: 7
    keep-weekly: 4
    keep-monthly: 6
    prune: true

local:
  inherit: default
  repository: "{{ backup_repo }}"
  env:
    AWS_ACCESS_KEY_ID: "{{ backup_secrets.b2_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ backup_secrets.b2_application_key }}"
  backup:
    schedule: "03:00"
    schedule-permission: system
  copy:
    initialize: true
    repository: "s3:https://s3.{{ backup_secrets.b2_region }}.backblazeb2.com/{{ backup_secrets.b2_bucket }}"
    password-file: /etc/resticprofile/password
    schedule: "03:30"
    schedule-permission: system

b2:
  inherit: default
  repository: "s3:https://s3.{{ backup_secrets.b2_region }}.backblazeb2.com/{{ backup_secrets.b2_bucket }}"
  env:
    AWS_ACCESS_KEY_ID: "{{ backup_secrets.b2_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ backup_secrets.b2_application_key }}"
