version: "1"

default:
  password-file: /etc/resticprofile/password
  backup:
    run-before:
{% for hook in backup_pre_hooks %}
      - "{{ hook }}"
{% endfor %}
    source:
      - /mnt/data
    exclude:
{% for path in backup_exclude_paths %}
      - "{{ path }}"
{% endfor %}
    exclude-caches: true
    schedule: "03:00"
    schedule-permission: system
  forget:
    keep-daily: 7
    keep-weekly: 4
    keep-monthly: 6
    prune: true

local:
  inherit: default
  repository: "{{ backup_repo }}"

b2:
  inherit: default
  repository: "s3:https://s3.{{ backup_secrets.b2_region }}.backblazeb2.com/{{ backup_secrets.b2_bucket }}"
  env:
    AWS_ACCESS_KEY_ID: "{{ backup_secrets.b2_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ backup_secrets.b2_application_key }}"
