{
  acme_dns porkbun {
    api_key {$PORKBUN_API_KEY}
    api_secret_key {$PORKBUN_API_SECRET_KEY}
  }
}

sheol.vuxnq.me {
  reverse_proxy sheol:8080
}

immich.sheol.vuxnq.me {
  reverse_proxy sheol:2283
}

navidrome.sheol.vuxnq.me {
  reverse_proxy sheol:4533
}
