{
  acme_dns porkbun {
    api_key {$PORKBUN_API_KEY}
    api_secret_key {$PORKBUN_API_SECRET_KEY}
  }
}

sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8080
}

copyparty.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:3923
}

dockhand.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:3000
}

immich.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:2283
}

navidrome.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:4533
}

pihole.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8053
}

syncthing.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8384
}

wrtag.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:4848
}
