{
  email {$ACME_EMAIL}
  acme_ca https://acme.zerossl.com/v2/DV90
}

tux.vuxnq.me, *.tux.vuxnq.me {
  tls {
    dns porkbun {
      api_key {$PORKBUN_API_KEY}
      api_secret_key {$PORKBUN_API_SECRET_KEY}
    }
  }

  @root host tux.vuxnq.me
  handle @root {
    reverse_proxy host.docker.internal:8080
  }

  @proxmox host proxmox.tux.vuxnq.me
  handle @proxmox {
    reverse_proxy https://10.0.0.1:8006 {
      transport http {
        tls_insecure_skip_verify
      }
    }
  }

  @immich host immich.tux.vuxnq.me
  handle @immich {
    reverse_proxy host.docker.internal:2283
  }

  @dufs host dufs.tux.vuxnq.me
  handle @dufs {
    reverse_proxy host.docker.internal:5000
  }

  @syncthing host syncthing.tux.vuxnq.me
  handle @syncthing {
    reverse_proxy host.docker.internal:8384
  }

  @pihole host pihole.tux.vuxnq.me
  handle @pihole {
    reverse_proxy 10.0.0.3:80
  }

  handle {
    abort
  }
}
