{
  acme_dns porkbun {
    api_key {$PORKBUN_API_KEY}
    api_secret_key {$PORKBUN_API_SECRET_KEY}
  }
}

sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8080
}

dockhand.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:3000
}

dufs.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:5000
}

immich.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:2283
}

navidrome.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:4533
}

pihole.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8053
}

cups.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:631
}

slskd.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:5030
}

silverbullet.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:3001
}

syncthing.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8384
}

upsnap.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:8090
}

wrtag.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:4848
}

zerobyte.sheol.vuxnq.me {
  reverse_proxy host.docker.internal:4096
}
